@import 'themes';
/*extend*/
%label-shared {
    height: 20px;
    text-align: center;
    line-height: 20px;
    width: 60px;
    font-size: 0.7rem;
    background-color: $label-color;
    border-radius: 3px;
    position: absolute;
    color: $font-color;
}
%link-shared{
    display: inline-block;
    position: absolute;
    color: $font-color;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    background: $link-color;
}
%link-hover{
    background: $font-color;
    color: $hover-color;
    border: 2px solid $hover-color;
}
/*flexbox*/
ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
/*card1*/
.card1{
    position: relative;
    width: 350px;
    height: 410px;
    margin: 10px;
    background-image: url(../Images/bg-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: $font-color;
    img{
        position: absolute;
        right: 10%;
        top: 10%;
    }
    &__title{
        position: absolute;
        bottom: 15%;
        left: 10%;
        font-size: 1.1rem;
        letter-spacing: 0.1rem;
        margin-bottom: 5px;
        span{
            display: inline-block;
            text-align: center;
            font-size: 0.7rem;
            width: 40px;
            height: 18px;
            border-radius: 25px;
            position: relative;
            left: 17%;
            background-color: $label-color;
            line-height: 18px;
        }
    }
    &__content{
        position: absolute;
        border-bottom-style: solid;
        border-bottom-color: $label-color;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-bottom-width: thick;
        bottom: -2px;
        height: 13%;
        width: 96%;
        text-indent: 9%;
        left: 2%;
        font-size: 0.7rem;
    }
}
/*card2*/
.card2{
    position: relative;
    width: 340px;
    height: 380px;
    background-image: url(../Images/bg-3.png);
    background-repeat: no-repeat;
    margin: 10px;
    box-shadow: 5px 0px 50px 0px rgb(209, 207, 207);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    &__label{
        @extend %label-shared;
        top: 8%;
        right: 8%;
    }
    &__title{
        position: absolute;
        left: 5%;
        top: 49%;
        font-size: 1.5rem;
    }
    &__content{
        position: absolute;
        left: 5%;
        top: 57%;
        line-height: 1.8rem;
        background: -webkit-linear-gradient(rgb(136, 134, 134), rgb(255, 254, 254));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    a{
        left: 30%;
        top: 83%;
        width: 140px;
        height: 40px;
        border-radius: 25px;
        @extend %link-shared;
    }
    a:hover{
        @extend %link-hover;
    }
}
/*card3*/
.card3{
    position: relative;
    width: 350px;
    height: 250px;
    background-image: url(../Images/bg-4.png);
    background-repeat: no-repeat;
    margin: 10px;
    background-size: cover;
    color: $font-color;
    &__label{
        @extend %label-shared;
        top: 15%;
        right: 9%;
    }
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__big-title{
        position: absolute;
        bottom: 21%;
        left: 13%;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
    }
    &__small-title{
        position: absolute;
        bottom: 13%;
        left: 13%;
        font-size: 0.8rem;
    }
    &__dots{
        color: $font-color;
        text-decoration: none;
        font-size: 2rem;
        position: absolute;
        bottom: 8%;
        right: 8%;
    }
}